<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebSite is Running ???</title>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="/running/static/element-ui/theme-chalk/index.css">


</head>
<body>
<div id="app">
    <el-button style="margin-bottom: 10px" type="success" @click="handleAdd()">Add</el-button>

    <el-table
            :data="tableData.filter(data => !search || data.address.toLowerCase().includes(search.toLowerCase()))"
            border
            style="width: 100%">
        <el-table-column
                label="网址"
                prop="address">
        </el-table-column>
        <el-table-column
                label="管理者"
                prop="manager"
        >
        </el-table-column>
        <el-table-column
                label="邮箱"
                prop="email"
        >
        </el-table-column>
        <el-table-column
                label="检查时间间隔"
                prop="interval"
        >
        </el-table-column>
        <el-table-column
                label="状态"
                prop="status"
        >
        </el-table-column>
        <el-table-column
                align="center"
        >
            <template slot="header" slot-scope="scope">
                <el-input
                        v-model="search"
                        size="mini"
                        placeholder="搜索网址"/>
            </template>
            <template slot-scope="scope">
                <el-button
                        size="mini"
                        @click="handleTest(scope.$index, scope.row)">测试
                </el-button>
                <el-button
                        size="mini"
                        type="primary"
                        @click="handleEdit(scope.$index, scope.row)">编辑
                </el-button>
                <el-button
                        size="mini"
                        type="danger"
                        @click="handleDelete(scope.$index, scope.row)">删除
                </el-button>
            </template>
        </el-table-column>
    </el-table>

    <p>1、程序会按照设定的时间间隔<span style="color:red">定时</span>检查网页是否可以访问，时间间隔与检查时间的对应关系如下：</p>
    <p>&emsp;&emsp;15min &emsp; (每天的整点和半点、15分和45分)<br/>
       &emsp;&emsp;30min &emsp; (每天的整点和半点)<br/>
       &emsp;&emsp;1h &emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (每天的整点)<br/>
       &emsp;&emsp;6h &emsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; (每天3,9,15,21点)<br/>
       &emsp;&emsp;12h &emsp;&nbsp;&nbsp;&nbsp;&nbsp; (每天9,21点)<br/>
       &emsp;&emsp;24h &emsp;&nbsp;&nbsp;&nbsp;&nbsp; (每天9点)</p>
    <p>2、自动检查时：网站可访问不会发送邮件通知，<span style="color:red">不可访问时会发送网址和状态码到指定邮箱</span></p>
    <p>3、点击“测试”按钮时：不论网站是否可以访问，都会发送邮件，同时更新该网页的状态码</p>
    <p>4、200和302都被认为是可访问</p>
    <p>5、添加和编辑完成后会立即刷新该网页的状态码</p>
    <p>6、被认为是<span style="color:red">垃圾邮件</span>的解决办法：多点几次测试按钮，在垃圾邮件中找到这几封邮件，点击“这不是垃圾邮件”(QQ邮箱)，一般就会解决。</p>

    <el-dialog title="添加网站" :visible.sync="dialogFormVisible">
        <el-form :model="form">
            <el-form-item label="网址" :label-width="formLabelWidth">
                <el-input v-model="form.address" autocomplete="off" placeholder="带上前缀(http://)"></el-input>
            </el-form-item>
            <el-form-item label="管理者" :label-width="formLabelWidth">
                <el-input v-model="form.manager" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="邮箱" :label-width="formLabelWidth">
                <el-input v-model="form.email" autocomplete="off"></el-input>
            </el-form-item>
            <el-form-item label="时间间隔" :label-width="formLabelWidth">
                <el-select v-model="form.interval" placeholder="请选择时间间隔">
                    <el-option label="15min (每天的整点和半点、15分和45分)" value="15min"></el-option>
                    <el-option label="30min (每天的整点和半点)" value="30min"></el-option>
                    <el-option label="1h (每天的整点)" value="1h"></el-option>
                    <el-option label="6h (每天3,9,15,21点)" value="6h"></el-option>
                    <el-option label="12h (每天9,21点)" value="12h"></el-option>
                    <el-option label="24h (每天9点)" value="24h"></el-option>
                </el-select>
            </el-form-item>

        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible = false">取 消</el-button>
            <el-button type="primary" @click="submitForm()">确 定</el-button>
        </div>
    </el-dialog>
</div>
</body>

<!-- 引入组件库 /running ！部署时需要改这里和上面的css和home.js里的prefix！-->
<script src="/running/static/js/vue.min.js"></script>
<script src="/running/static/element-ui/index.js"></script>
<script src="/running/static/js/jquery.min.js"></script>
<script src="/running/static/js/home.js"></script>

</html>